body {
    background-color: #79B9C6;
    font-family: Arial, Helvetica, sans-serif;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  
  p {
    text-align: left;
    color: white;
    font-size: 30px;
    font-weight: 900;
  }
  
  .rowOne {  
    margin-top: 17%;
    color: black;
    font-size: 18px;
    font-weight: 900;
  }
  
  .rowTwo {
    line-height: 200%;
    color: white;
    font-size: 80px;
    font-weight: 900;
  }
  
  .rowThree {
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    width:140px;
    word-wrap: break-word;
  }
  
  
  
  